---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 35px;
  width: 100%;
}


h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
    font-style: italic;
    color: #666;
    border: 1px solid #e9e9e9;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
  background-color: #e9e9e9!important;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  border: 1px solid #666;
  padding: 5px;
  border-radius: 50px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  border-radius: 50px;
  }

.site-avatar:hover {
  background:#666;
  }

  img {
    border-radius: 50px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  border-bottom: none;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

.navnav {
  @include mobile {
    background: whitesmoke;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    margin: 10px 0px 0px 120px;
	}
}

//
// .main
//
.deskripsi {
    border: solid 1px #e9e9e9;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 5px 10px 0px #888888;
}

.posts {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: none;
    width: 340px;
    border: 1px solid #E9E9E9;
    border-radius: 7px;
    padding: 10px;
	margin:10px;
}
@media (max-width: 1024px){
.posts > .post {
	width: 450px;
	margin:10px 10px;
	}
}
@media (max-width:768px){
.posts > .post {
	max-width: 340px;
	margin:10px 10px;
	}
}
@media (max-width: 640px) {
.posts > .post {
	max-width: 100%;
	margin:10px 0px;
	}	
}
@media (max-width: 540px){
.posts > .post {
	max-width: auto;
	margin:10px 7px;
	}
}
@media (max-width: 425px){
.posts > .post {
	width: 100%;
	margin:10px 0px;
	}
}
@media (max-width: 360px){
.posts > .post {
	width: 100%;
	margin:10px 0px;
	}
}

article {
    width: 850px;
    margin: auto;
	
    @include mobile {
	max-width: 100%;
	}
}
.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
    border: 1px solid #E9E9E9;
    border-radius: 7px;
    padding: 10px;
	
    @include mobile {
	width: 100%;
	}
.judul {
    display: none;
}
}
.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;

  }

.intro-message {
    display: none;
}
  .comments {
    margin-top: 10px;
  }
  
  .read-more {
    text-transform: uppercase;
    font-size: 15px;
    border: solid 1px #e9e9e9;
    padding: 8px;
    border-radius: 5px;
    background: #e9e9e9;
    float: right;
    margin-top: 10px;
  }
  
  .read-more:hover {
  color:#fff;
  background:#666;
  }
}

.sidebarBox {
  @include mobile {
    display: none;}
	width: 300px; 
	float: right;
	position: relative;

    @include mobile {
	display: none;
	}
}
.scrollingBox {
	width: 350px; 
}
.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;

  @include mobile {
    position: relative;
    bottom: 0;
    width: 100%;
	}
}

.foot-copy {
  text-align: left;

  @include mobile {
  text-align: center;
  }
}

.foot-credit {
  text-align: right;

  @include mobile {
  text-align: center;
  }
}

@import "highlights";
@import "svg-icons";
