---
layout: default
---

<style>
.intro-header, #about {
display: none;
}
.blog-back {
    display: block!important;
}
.blog-li {
    display: none!important;
}
.searchbox {
    height: 450px!important;
    min-height: 0px !important;
    overflow-y: auto;
    overflow-x: hidden;
}
</style>
<div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-8 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ page.title }}</h2>

  <div class="lead entry">
    {{ content }}
  </div>
                </div>

	<div class="col-lg-4 col-sm-6 sidebarBox">
		<div class="searchbox">
		<script async src="https://cse.google.com/cse.js?cx=ddfa18d32d301b6fa"></script>
<div class="gcse-search"></div>
		</div>
<div class="scrollingBox">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- sidebarbox -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1171588080744378"
     data-ad-slot="6743398360"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<img src="../images/404.jpg"/>
    </div>
</div>
                </div>
            </div>

        </div>
        <!-- /.container -->

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
    </div>
    <!-- /.content-section-a -->


  {% include disqus.html %}
</article>
